{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
            {% include 'back-office/skill/_form.html.twig' with { form: form, title: 'Création d\'une nouvelle compétence', action: 'Créer' } %}
        </div>
    </div>
{% endblock %}
