{% extends 'base.html.twig' %}

{% block body %}
   <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-10 col-xl-8">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h1 class="h4">Listes des formations</h1>
                    <a href="{{ path('formation_create') }}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-dark mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-uppercase">Id</th>
                                <th class="text-center text-uppercase">Nom</th>
                                <th class="text-center text-uppercase">Niveau d'étude</th>
                                <th class="text-center text-uppercase">Ecole/Etablissement</th>
                                <th class="text-center text-uppercase">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for formation in formations %}
                                <tr>
                                    <td class="text-center align-middle">{{ formation.id }}</td>
                                    <td class="text-center align-middle">{{ formation.name }}</td>
                                    <td class="text-center align-middle">{{ formation.gradeLevel }}</td>
                                    <td class="text-center align-middle">{{ formation.school }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('formation_update', { id: formation.id }) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                        <a href="{{ path('formation_delete', { id: formation.id }) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center align-middle">Aucune formation</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
