{% extends 'base.html.twig' %}

{% block body %}
   <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-10 col-xl-8">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h1 class="h4">Listes des références</h1>
                    <a href="{{ path('reference_create') }}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-dark mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-uppercase">Id</th>
                                <th class="text-center text-uppercase">Intitulé</th>
                                <th class="text-center text-uppercase">Société</th>
                                <th class="text-center text-uppercase">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reference in references %}
                                <tr>
                                    <td class="text-center align-middle">{{ reference.id }}</td>
                                    <td class="text-center align-middle">{{ reference.jobTitle }}</td>
                                    <td class="text-center align-middle">{{ reference.compagny }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('reference_update', { id: reference.id }) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                        <a href="{{ path('reference_delete', { id: reference.id }) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center align-middle">Aucune référence</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
