{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
             {% include 'back-office/reference/_form.html.twig' with { form: form, title: 'Modifier une référence', action: 'Modifier' } %}
        </div>
    </div>
{% endblock %}